*{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #252A34;
    margin: 0;
    padding: 5vh 0 0 0;
    width: 100vw;
    text-align: center;
}
@font-face {
    font-family: 'Boungy Thin';
    src: url('../fonts/Bouncy-Thin-PERSONAL_USE_ONLY.otf') format('truetype');
}
h1 {
    color: #180024;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Boungy Thin', sans-serif;
    position: relative;
    margin: -10px 0 5px 0;
    filter: drop-shadow(0 0 2px #ffffff)
            drop-shadow(0 0 3px #ffffff)
            drop-shadow(0 0 4px #000000);
}
.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.turn-container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
.turn-container .turn-box{
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 700;
}
.turn-container .turn-box:nth-child(even){
    border-right: none;
}
.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #FF2E63;
    z-index: -1;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 390px;
    width: 390px;
    margin: 30px auto;
    border: 2px solid #000;
}
.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid #000;
}
.box:hover{
    background-color: #212121;
}
#results{
    font-size: 1.5rem;
    margin-top: 20px;
}
#play-again{
    background-color: #FF2E63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#play-again:hover {
    padding: 10px 40px;
    background-color: #00ff58;
    color: #000;
    filter: drop-shadow(0 0 2px #00ff58)
            drop-shadow(0 0 4px #ffffff)
            drop-shadow(0 0 3px #00ff58);
}
.arrow{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(0 0 2px #676663)
            drop-shadow(0 0 4px #000000)
            drop-shadow(0 0 3px #626262);
}